@font-face {
font-family: 'Gotham';
src: url('../fonts/Gotham-Black.otf');
font-weight: 900;
font-style: normal;
}
@font-face {
font-family: 'Gotham';
src: url('../fonts/Gotham-Book.otf');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'Gotham';
src: url('../fonts/Gotham-Light.otf');
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: 'Gotham';
src: url('../fonts/Gotham-Medium.otf');
font-weight: 500;
font-style: normal;
}
