.cookies-info{
    position: fixed;
    z-index: 10;
    bottom: 30px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    padding: 20px 25px;
    background-color: #002b41;
    box-shadow: 0 1px 3px rgba(255,255,255,0.2), 0 1px 2px rgba(255,255,255,0.23);
    opacity: 0;
    pointer-events: none;
    transition: opacity .33s cubic-bezier(.25,.01,.55,1);
    @media only screen and (max-width: 768px) {
        max-width: 95%;
    }
    &.active{
        opacity: 1;
        pointer-events: all;
    }
    h3{
        color: #fff;
        text-align: center;
        @media only screen and (max-width: 480px) {
            font-size: 24px;
        }
    }
    span{
        color: #fff;
        margin-top: 3px;
        text-align: center;
        width: 100%;
        @media only screen and (max-width: 480px) {
            font-size: 15px;
        }
    }
    .button{
        margin-top: 20px;
        text-align: center;
        color: #fff !important;
        cursor: pointer; 
        padding: 7px 25px;
        border: 1px solid #adadad;
        border-radius: 2px;
        font-size: 15px;
        @media only screen and (max-width: 480px) {
            font-size: 14px;
        }
    }
} 