*{
  font-family: "Gotham", sans-serif;
}
html, body{
  height: 100%; 
} 

/* Libraries */
@import '../scss/libs/normalize';
@import '../scss/libs/owl.carousel.min';
@import '../scss/libs/owl.theme.default.min';
@import '../scss/libs/bootstrap.min';

/* Pages */
@import 'elements/pages/home';
@import 'elements/pages/travel';
@import 'elements/pages/gallery'; 
@import 'elements/pages/journey-01-entrance';
@import 'elements/pages/journey-02-lobby';
@import 'elements/pages/journey-03-hotelRoom';
@import 'elements/pages/journey-04-laptopRoom';
@import 'elements/pages/journey-05-events';
@import 'elements/pages/journey-06-movie';

/* Navigation elements */
@import 'elements/navigation/top-nav';
@import 'elements/navigation/footer';

/* Overall settings */
@import 'elements/overall/fonts';

/* Others */
@import 'elements/overall/cookies-info'; 
