.page-home{
  width: 100%;
  height: 100%;
  .slider{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    &__slide{
      //because of top navigation
      padding-top: 78px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      &--slide-1{
        background-image: url(../img/slide-1-bckg.png);
        @media only screen and (max-width: 1480px){ 
          background-position: 10%;
        }
      }
      &__content-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        padding: 126px 20px 100px;
        @media only screen and (max-width: 768px){
          padding-top: 80px;
        }
        @media only screen and (max-width: 380px){
          padding-top: 50px;
        }
      }
      &__popup-wrapper{
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
        width: 100%;
        height: 100%;
        display: none;
        padding: 350px 20px 0px;
        justify-content: center;
        overflow-y: auto;
        @media only screen and (max-width: 768px){
          padding-top: 204px;
        }
        @media only screen and (max-width: 500px){
          padding-top: 160px;
        }
        &.active{
          display: flex;
        }
      }
      &__popup-background{
        width: 100%;
        height: 125%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
        background-color: rgba(0,0,0,.66);
        opacity: 0;
        transition: opacity .33s cubic-bezier(.25,.01,.55,1);
        @media only screen and (max-width: 500px){
          height: 160%;
        }
        @media only screen and (max-width: 320px){
          height: 200%;
        }
        &.active{
          opacity: 1;
        }
      }
      &__box-wrapper{
        width: 100%;
        max-width: 725px;
        &--popup{
          position: relative;
          z-index: 11;
        }
      }
      &__box-gift-img{
        position: absolute;
        z-index: 12;
        top: -345px;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        transition: all .33s cubic-bezier(.25,.01,.55,1);
        opacity: 0;
        transform: translateY(-300px);
        @media only screen and (max-width: 768px){
          width: 350px;
          top: -235px;
        }
        @media only screen and (max-width: 500px){
          width: 275px;
          top: -185px;
        }
        &.active{
          opacity: 1;
          transform: translateY(0px);
        }
      }
      &__box{
        width: 100%;
        display: flex;
        flex-direction: column;
        transition: all .33s cubic-bezier(.25,.01,.55,1);
        opacity: 0;
        &.active{
          opacity: 1;
        }
        &--popup{
          position: relative;
          opacity: 0;
          transform: translateY(150px);
          &.active{
            opacity: 1;
            transform: translateY(0px);
          }
        }
      }
      &__box-top{
        width: 100%;
        background-color: rgba(0, 43, 65, .75);
        padding: 61px 27px 0px;
        //padding: 30px 33px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        @media only screen and (max-width: 768px){
          padding: 15px 10px 0;
        }
        &--popup{
          padding: 40px 64px 0px;
          @media only screen and (max-width: 500px){
            padding-left: 24px;
            padding-right: 24px;
          }
        }
      }
      &__box-header{
        width: 100%;
        text-align: center;
      }
      &__box-header-font{
        font-weight: 400;
        font-size: 33px;
        color: #fff;
        line-height: 52px;
        @media only screen and (max-width: 768px){
          font-size: 25px;
        }
        @media only screen and (max-width: 600px){
          font-size: 22px;
          line-height: 35px;
        }
        &--light{
          font-weight: 300
        }
        &--bold{
          font-weight: 900;
        }
        &--big{
          font-size: 51px;
          @media only screen and (max-width: 768px){
            font-size: 41px;
          }
          @media only screen and (max-width: 600px){
            font-size: 35px;
            line-height: 35px;
          }
        }
        &--smll-line-height{
          line-height: 40px;
        }
      }
      &__box-list-wrapper{
        width: 100%;
        margin-top: 30px;
        @media only screen and (max-width: 768px){
          padding-right: 15px;
        }
        ul{
          margin-bottom: 0px;
          list-style: none;
          padding-left: 35px;
          li{
            font-weight: 400;
            font-size: 20px;
            line-height: auto;
            color: #fff;
            margin-bottom: 9px;
            position: relative;
            @media only screen and (max-width: 768px){
              font-size: 18px;
            }
            &.clickable{
              color: #e6a623;
              cursor: pointer;
            }
            &:before{
              position: absolute;
              content: "• ";
              color: #e6a623;
              left: -22px;
            }
          }
        }
      }
      &__box-products-col{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 17px;
        margin-top: 15px;
        @media only screen and (max-width: 500px){
          padding-left: 0px;
        }
      }
      &__box-product-row{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 10px;
        @media only screen and (max-width: 500px){
          flex-direction: column;
          margin-bottom: 30px;
        }
        &__image{
          width: 45%;
          height: 120px;
          border-radius: 3px;
          overflow: hidden;
          display: flex;
          @media only screen and (max-width: 500px){
            width: 100%;
          }
          img{
            width: 100%;
            object-fit: cover;
          }
        }
        &__name{
          width: 55%;
          padding-left: 30px;
          display: flex;
          align-items: center;
          position: relative;
          @media only screen and (max-width: 500px){
            width: 100%;
            padding-left: 0px;
            justify-content: center;
            padding: 15px 0px;
          }
          &:after{
            content: "";
            position: absolute;
            left: 30px;
            bottom: -5px;
            height: 3px;
            width: 150px;
            background-color: #627c87;
            @media only screen and (max-width: 500px){
              left: 0px;
              right: 0px;
              margin-left: auto;
              margin-right: auto;
            }
          }
          a{
            text-decoration: none;
            font-weight: 500;
            font-size: 23px;
            line-height: 30px;
            color: #fff!important;
            @media only screen and (max-width: 500px){
              font-size: 18px;
              line-height: 25px;
              text-align: center;
            }
          }
        }
        &:last-of-type{
          .slider__slide__box-product-row__name{
            &:after{
              display: none;
            }
          }
        }
      }
      &__box-buttons-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px 35px;
        margin-top: 28px;
        margin-bottom: -41px;
        @media only screen and (max-width: 768px){
          margin-bottom: -100px;
        }
        &--popup{
          padding: 0 17px;
          margin-top: 0px;
          @media only screen and (max-width: 768px){
            margin-bottom: -40px;
          }
        }
        &--row{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          @media only screen and (max-width: 768px){
            flex-direction: column;
          }
        }
        a{
          font-weight: 900;
          font-size: 16px;
          color: #002b41;
          text-transform: uppercase;
          width: 100%;
          cursor: pointer;
          background-color: #fff;
          margin-bottom: 15px;
          text-align: center;
          border-radius: 4px;
          text-decoration: none !important;
          padding: 12px 0px;
          box-shadow: 0 3px 0px 0px rgba(0,0,0,0.06), 0 2px 0px 0px rgba(0,0,0,.1);
          @media only screen and (max-width: 450px){
            font-size: 13px;
            padding-left: 10px;
            padding-right: 10px;
          }
          &.yellow{
            background-color: #e6a623;
          }
          &.btn-50{
            width: 49%;
            @media only screen and (max-width: 768px){
              width: 100%;
            }
          }
        }
      }
      &__box-bottom{
        padding: 50px 62px 19px;
        width: 100%;
        background-color: rgba(0, 43, 65, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        @media only screen and (max-width: 768px){
          padding-top: 100px;
          padding: 100px 45px 20px;
        }
        &--popup{
          padding: 37px 0px 11px;
        }
      }
      &__box-images-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        text-decoration: none !important;
      }
      &__box-images-row-item{
        width: 24.5%;
        height: 157px;
        border-radius: 3px;
        overflow: hidden;
        @media only screen and (max-width: 768px){
          width: 32%;
          &:first-of-type{
            display: none;
          }
        }
        @media only screen and (max-width: 500px){
          height: 70px;
        }
        img{
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
        &--more-btn{
          display: flex;
          align-items: center;
          justify-content: center;
          border: 3px solid #e6a623;
          text-decoration: none;
          span{
            font-weight: 400;
            font-size: 59px;
            line-height: auto;
            color: #e6a623;
          }
        }
      }
      &__box-see-photos-btn{
        font-weight: 500;
        font-size: 20px;
        color: #fff;
        margin-top: 18px;
        text-decoration: none !important;
        text-align: center;
        @media only screen and (max-width: 768px){
          font-size: 18px;
        }
        @media only screen and (max-width: 500px){
          font-size: 17px;
        }
      }
      &__box-close-popup-btn{
        font-weight: 500;
        font-size: 14px;
        color: #fff!important;
        text-decoration: none!important;
        cursor: pointer;
      }
    }
    .owl-stage{
      display: flex;
    }
    .owl-nav{
      display: none;
    }
    .owl-dots{
      position: absolute;
      bottom: 60px;
      left: 0px;
      right: 0px;
      margin-left: auto;
      margin-right: auto;
      display: none;
      justify-content: center;
      .owl-dot{
        width: 11px;
        height: 11px;
        border: 0px;
        padding: 0px;
        margin: 0px 9px;
        border-radius: 90%;
        cursor: pointer;
        outline: none;
        background-color: rgba(255,255,255,.4);
        transition: all .3s cubic-bezier(.25,.75,.5,1.25);
        &.active{
          background-color: rgba(255,255,255,1);
          box-shadow: 0 3px 5px rgba(0,0,0,0.13), 0 3px 5px rgba(0,0,0,0.18);
        }
      }
    }
  }
}
