.page-laptopRoom{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;    
    &__heading{
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: #002b41;
        &--mid{
          font-size: 24px;
          line-height: 30px;
        }
        &--arrow{
          font-size: 20px;
        }
        &--thin{
          font-weight: 300;
        }
        &--bold{
          font-weight: 500;
        }
        &--bolder{
          font-weight: 900;
        }
        &--white{
          color: #fff;
        }
        &--upper{
          text-transform: uppercase;
        }
        &--copy-text{ 
          font-size: 16px;
          line-height: 26px;
        }
        &--copy-header{
          font-size: 19px;
          font-weight: 500;
          line-height: 30px;
        }
        &--mail-notification{
          font-size: 20px;
        }
    }
    &__button{
      font-weight: 900;
      font-size: 16px;
      color: #002b41 !important;
      text-transform: uppercase;
      width: 100%;
      cursor: pointer;
      text-align: center;
      border: none;
      border-radius: 4px;
      text-decoration: none !important;
      padding: 20px 6px;
      box-shadow: 0 3px 0px 0px rgba(0,0,0,0.06), 0 2px 0px 0px rgba(0,0,0,.1);
      &--yellow{
        background-color: #e6a623;
      }
    }
    &__arrow{
        position: absolute;
        bottom: 30px;
        left: 0px;
        width: 100%;
        display: flex;
        z-index: 6;
        justify-content: center;
        &-wrapper{
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
          margin: 0px 45px;
          &:hover{
            text-decoration: none;
          }
          span{
            margin-top: 7px;
          }
          &--left{
            img{
                transform: rotate(180deg);
            }
        }
        }
    }
    &__bckg{
        position: absolute;
        z-index: 5;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../img/room-laptop.png");
        pointer-events: none;
    }

    &__site{
        &-container{
            width: 100%;
            padding-top: 15.5vh;
            display: flex;
            justify-content: center;
        }
        &-wrapper{
            position: relative;
            width: 45vw;
            height: 54vh;
            background-color: #fff;
            @media only screen and (max-width: 1280px) {
              width: 55vw;
            }
            @media only screen and (max-width: 1080px) {
              width: 65vw;
            }
        }
        &-website{
          top: 0px;
          width: 160%;
          height: 160%;
          border: 0;
          position: absolute;
          transform: scale(0.61) translate(-31%, -32%);
          @media only screen and (max-width: 1280px) {
            width: 250%;
            height: 250%;
            transform: scale(.4) translate(-77%, -68%);
          }
        }
        &-popup{
          position: absolute;
          z-index: 2;
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
          margin: auto;
          background-color: #002b41;
          border-radius: 90%;
          width: 350px;
          height: 350px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          opacity: 0;
          pointer-events: none;
          transition: opacity .33s cubic-bezier(.25,.01,.55,1);
          &:before{
            content: "";
            position: absolute;
            border-radius: 90%;
            width: 338px;
            height: 338px;
            top: 6px;
            left: 6px;
            border: 2px solid #fff;
            opacity: .5;
          }
          span{
            margin-top: 18px;
          }
          &.active{
            opacity: 1;
            pointer-events: all;
          }
        }
        &-box{
          z-index: 4;
          position: absolute;
          top: 0px;
          left: 0px;
          background-color: #002b41;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          top: 0px;
          left: 0px;
          padding-top: 25px;
          opacity: 0;
          pointer-events: none;
          transition: opacity .33s cubic-bezier(.25,.01,.55,1);
          @media only screen and (max-width: 1680px) {
            padding-top: 40px;
          }
          &.active{
            opacity: 1;
            pointer-events: all;
          }
          &-mailIcon{
            margin-bottom: 25px;
            @media only screen and (max-width: 1680px) {
              width: 100px;
            }
            @media only screen and (max-width: 1280px) {
              width: 75px;
              margin-bottom: 20px;
            }
          }
          span{
            width: 100%;
            max-width: 550px;
            text-align: center;
            margin-bottom: 25px;
            @media only screen and (max-width: 1680px) {
              font-size: 20px;
              line-height: 25px;
            }
            @media only screen and (max-width: 1280px) {
              font-size: 18px;
              line-height: 22px;
              padding: 0px 20px;
              margin-bottom: 20px;
            }
          }
          &-button{
            width: 100%;
            max-width: 450px;
            display: flex;
            @media only screen and (max-width: 1680px) {
              max-width: 350px;
            }
            a{
              @media only screen and (max-width: 1680px) {
                padding: 13px 0px;
                font-size: 14px;
              }
            }
          }
          &-closeButton{
            position: absolute;
            width: 30px;
            height: 30px;
            top: 2.5vh;
            right: 3.5vw;
            cursor: pointer;
            @media only screen and (max-width: 1680px) {
              top: 5.5vh;
            }
            @media only screen and (max-width: 1280px) {
              right: 70px;
            }
          }
        }
        &-msgIcon{
          position: absolute;
          z-index: 3;
          top: 3vh;
          right: 3vw;
          width: 55px;
          height: 55px;
          cursor: pointer;
          opacity: 0;
          pointer-events: none;
          @media only screen and (max-width: 1280px) {
            top: 5vh;
            right: 8vw;
          }
          &.active{
            opacity: 1;
            pointer-events: all;
          }
        }
    }
}