.page_entrance{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  @media only screen and (max-width: 768px){
    height: auto;
  }
  &__heading{
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #002b41;
    &--white{
      color: #fff;
    }
    &--mid{
      font-size: 32px;
      font-weight: 40px;
    }
    &--medium{
      font-weight: 500;
    }
    &--bold{
      font-weight: 600;
    }
    &--bolder{
      font-weight: 900;
    }
    &--small{
      font-size: 20px;
      line-height: 30px;
    }
    &--smaller{
      font-size: 18px;
      line-height: 20px;
    }
    &--copy-text{
      font-size: 16px;
      line-height: 26px;
    }
    &--copy-header{
      font-size: 19px;
      font-weight: 500;
      line-height: 30px;
    }
  }
  &__entrance{
    height: 75vh;
    width: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
    @media only screen and (max-width: 768px){
      display: none;
    }
    &-bckg{
      position: absolute;
      top: 0px;
      left: 0px;
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      transition: all .33s cubic-bezier(.25,.01,.55,1);
      &--dark{
        background-image: url(../img/Le_Club_korzysci_01_wejscie_do_hotelu_gif1.gif);
      }
      &--light{
        opacity: 0;
        background-image: url(../img/Le_Club_korzysci_01_wejscie_do_hotelu_gif2.gif);
        &.zoom{
          transform: scale(6) translateY(-20%);
        }
      }
    }
    &-content{
      width: 100%;
      display: flex;
      justify-content: center;
      align-self: flex-end;
      position: relative;
    }
    &-doors{
      width: 13.3vw;
      height: 37.5vh;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @media only screen and (max-width: 768px){
        width: 100px;
      }
      &:hover{
        text-decoration: none;
        img{
          transform: scale(.85) translateY(-5px) rotateX(45deg);
        }
      }
      span{
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        line-height: 18px;
        font-weight: 900;
        text-align: center;
      }
      img{
        margin-bottom: 15px;
        transition: all .33s cubic-bezier(.25,.01,.55,1);
      }
    }
  }
  &__entrance-static{
    display: flex;
    width: 100%;
    height: 67.5vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/journey-start-mobile.jpg");
    &--mobile{
      display: none;
      @media only screen and (max-width: 992px){
        display: flex;
      }
    }
  }
  &__hotels{
    height: 25vh;
    width: 100%;
    background-color: #002b41;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @media only screen and (max-width: 992px){
      display: none;
    }
    &:hover{
      .page_entrance__box .page_entrance__box-copy{
        opacity: 1;
      }
    }
    &-carousel{
      width: 100%;
      max-width: 1350px;
      overflow-x: hidden;
      position: relative;
      animation-name: glow;
      animation-duration: 1.4s;
      animation-iteration-count: infinite;
      &:before{
        content: "";
        position: absolute;
        z-index: 2;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 50px;
        background: linear-gradient(to right, #002b41, transparent);
      }
      &:after{
        content: "";
        position: absolute;
        z-index: 2;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 50px;
        background: linear-gradient(to left, #002b41, transparent);
      }
      &-item{
        display: flex;
        img{
          width: 100%;
          object-fit: contain;
        }
      }
      .owl-stage{
        display: flex;
      }
      .owl-item{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .owl-nav{
        display: none;
      }
    }
  }
  @keyframes glow {
    0%{
      box-shadow: none;
    }
    50%{
      box-shadow: 0 0px 20px rgba(255, 255, 255, 0.6), 0 0px 6px rgba(255, 255, 255, 0.6);
    }
    100%{
      box-shadow: none;
    }
  }


  &__entrance-benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &--mobile{
      display: none;
      @media only screen and (max-width: 992px){
        display: flex;
      }
    }
    &-head{
      width: 100%;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 20px 75px;
      position: relative;
      img{
        margin-bottom: 20px;
      }
      span{
        text-align: center;
      }
    }
    &-carousel-wrapper{
      background-color: #f6f7f9;
      width: 100%;
      padding-bottom: 60px;
    }
    &-carousel{
      width: 100%;
      margin-top: -70px;
      position: relative;
      &-navigation{
        position: absolute;
        top: 85px;
        left: 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
      }
      &-benefit{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 10px 0px;
        text-align: center;
        .icon-wrapper{
          position: relative;
          .number{
            position: absolute;
            top: -14px;
            right: -22px;
            height: 48px;
            width: 48px;
            background-color: #e6a623;
            border-radius: 90%;
            display: flex;
            justify-content: center;
            align-items: center;

          }
        }
        h1{
          margin-top: 20px;
          margin-bottom: 22px;
        }
      }
      .owl-nav {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
        top: 80px;
        button{
          margin: 0px;
          padding: 0px;
          border-radius: 0px;
          background: transparent;
          width: 15px;
          height: 28px;
          border: 0;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("../img/icons/arrow.png");
          &.owl-prev{
            transform: rotate(180deg);
          }
          span{
            display: none;
          }
        }
      }
      .owl-stage{
        display: flex;
        flex-direction: row;
      }
      .owl-stage-outer{
        overflow: hidden;
      }
    }
  }

  &__box{
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0px;
    &:hover{
      .page-lobby__box-copy{
        opacity: 1;
      }
    }
    &-copy{
      left: 0px;
      right: 0px;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      background-color: #002b41;
      padding: 22px 20px;
      width: 260px;
      text-align: center;
      pointer-events: none;
      display: flex;
      opacity: 0;
      transition: opacity .33s cubic-bezier(.25,.01,.55,1);
      &-icon{
        position: absolute;
        position: absolute;
        top: -14px;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        img{
          width: 35px;
          height: 16px;
        }
      }
    }
    &--carousel{
      width: 100%;
      height: 100%;
      .page_entrance__box-copy{
        top: -125px;
        width: 300px;
      }
    }
    &--visible{
      opacity: 1;
    }
    &--arrow-right{
      &:after{
        content: "";
        position: absolute;
        height: 24px;
        width: 12px;
        right: -12px;
        top: 15px;
        clip-path: polygon(0 0, 0% 100%, 100% 50%);
        background-color: #002b41;
      }
    }
    &--arrow-bottom{
      &:after{
        content: "";
        position: absolute;
        width: 24px;
        height: 12px;
        right: 0px;
        left: 0px;
        bottom: -11px;
        margin-left: auto;
        margin-right: auto;
        clip-path: polygon(0 0, 50% 100%, 100% 0);
        background-color: #002b41;
      }
    }
  }
}
