.page-hotelRoom{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;    
    &__heading{
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: #002b41;
        &--arrow{
          font-size: 20px;
        }
        &--bolder{
          font-weight: 900;
        }
        &--white{
          color: #fff;
        }
        &--upper{
          text-transform: uppercase;
        }
        &--copy-text{
          font-size: 16px;
          line-height: 26px;
        }
        &--copy-header{
          font-size: 19px;
          font-weight: 500;
          line-height: 30px;
        }
    }
    &__arrow{
        position: absolute;
        bottom: 30px;
        left: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        &-wrapper{
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
          margin: 0px 45px;
          &:hover{
            text-decoration: none;
          }
          span{
            margin-top: 7px;
          }
          &--left{
            img{
                transform: rotate(180deg);
            }
        }
        }
     }
    &__background{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/hotel-room-bckg.gif);
    }
    &__box{
        position: absolute;
        cursor: pointer;
        &:hover{
          .page-hotelRoom__box-copy{
            opacity: 1;
          }
        }
        &-copy{
          left: 0px;
          right: 0px;
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          background-color: #002b41;
          padding: 22px 20px;
          width: 260px;
          text-align: center;
          pointer-events: none;
          display: flex;
          flex-direction: column;
          opacity: 0;
          transition: opacity .33s cubic-bezier(.25,.01,.55,1);
          &-icon{
            position: absolute;
            position: absolute;
            top: -14px;
            left: 0px;
            right: 0px;
            margin-left: auto;
            margin-right: auto;
            img{
              width: 35px;
              height: 16px;
            }
          }
        }
        &--gift{
          top: 55vh;
          right: 38.3vw;
          width: 170px;
          height: 100px;
          @media only screen and (max-width: 1280px) {
            top: 55vh;
            right: 37vw;
            width: 120px;
            height: 80px; 
          }
          @media only screen and (max-width: 1080px) {
            right: 34vw;
            top: 54vh;
          }
          .page-hotelRoom__box-copy{
            left: -50px;
            top: -260px;
            @media only screen and (max-width: 1280px) {
                left: -85px;
                top: -280px;
            }
          }
        }
        &--standards{
            top: 21vh;
            left: 27.2vw;
            width: 215px;
            height: 455px;
            @media only screen and (max-width: 1280px) {
                top: 22vh;
                left: 24vw;
                width: 180px;
                height: 400px;
            }
            @media only screen and (max-width: 1080px) {
                left: 18.5vw;
            }
            .page-hotelRoom__box-copy{
              right: -550px;
              top: 100px;
              @media only screen and (max-width: 1280px) {
                  right: -450px;
              }
            }
        }
        &--wifi{
            top: 42.5vh;
            right: 42.1vw;
            width: 110px;
            height: 133px;
            @media only screen and (max-width: 1280px) {
                width: 90px;
                height: 80px;
                top: 44vh;
                right: 41vw;
            }
            @media only screen and (max-width: 1080px) {
                right: 39vw;
            }
            .page-hotelRoom__box-copy{
              left: -90px;
              top: -200px;
              @media only screen and (max-width: 1280px) {
                  top: -230px;
              }
            }
        }
        &--checkin{
            top: 29.2vh;
            right: 32.2vw;
            width: 110px;
            height: 100px;
            @media only screen and (max-width: 1280px) {
                top: 32vh;
                right: 29.5vw;
                width: 70px;
                height: 80px;
            }
            @media only screen and (max-width: 1080px) {
                top: 33.3vh;
                right: 25vw;
            }
            .page-hotelRoom__box-copy{
              left: -400px;
              top: 30px;
              @media only screen and (max-width: 1280px) {
                  left: -380px;
                  top: 15px;
              }
              @media only screen and (max-width: 1080px) {
                  top: 0px;
                  left: -390px;
              }
            }
        }
        &--executiveLounge{
            bottom: 0vh;
            left: 8.333vw;
            width: 410px;
            height: 400px;
            @media only screen and (max-width: 1280px) {
                left: 0vw;
                width: 320px;
                height: 350px;
            }
            .page-hotelRoom__box-copy{
              left: 0px;
              top: -330px;
            }
        }
        &--lacollection{
            bottom: 25.5vh;
            right: 10.15vw;
            width: 222px;
            height: 180px;
            @media only screen and (max-width: 1280px) {
                right: 0vw;
                bottom: 24vh;
            }
            @media only screen and (max-width: 1080px) {
                bottom: 26vh;
                width: 70px;
            }
            .page-hotelRoom__box-copy{
              left: -370px;
              top: 70px;
              @media only screen and (max-width: 1280px) {
                left: -400px;
                top: 30px;
              }
              @media only screen and (max-width: 1080px) {
                  left: -360px;
              }
            }
        }
    
        &--visible{
          opacity: 1;
        }
        &--arrow-right{
          &:after{
            content: "";
            position: absolute;
            height: 24px;
            width: 12px;
            right: -12px;
            top: 15px;
            clip-path: polygon(0 0, 0% 100%, 100% 50%);
            background-color: #002b41;
          }
        }
        &--arrow-left{
            &:after{
              content: "";
              position: absolute;
              height: 24px;
              width: 12px;
              left: -11px;
              top: 15px;
              clip-path: polygon(100% 0, 0 50%, 100% 100%);
              background-color: #002b41;
            }
          }
        &--arrow-bottom{
          &:after{
            content: "";
            position: absolute;
            width: 24px;
            height: 12px;
            right: 0px;
            left: 0px;
            bottom: -11px;
            margin-left: auto;
            margin-right: auto;
            clip-path: polygon(0 0, 50% 100%, 100% 0);
            background-color: #002b41;
          }
        }
      }
}