.page-travel{
  width: 100%;
  display: flex;
  flex-direction: column;
  //fonts
  &__heading{
     font-weight: 400;
     font-size: 28px;
     line-height: 38px;
     color: #002b41;
     @media only screen and (max-width: 768px){
       font-size: 25px;
     }
     @media only screen and (max-width: 480px){
       font-size: 23px;
       line-height: 35px;
     }
     @media only screen and (max-width: 380px){
       font-size: 20px;
       line-height: 32px;
     }
     &--white{
       color: #fff;
     }
     &--big{
       font-size: 36px;
       @media only screen and (max-width: 768px){
         font-size: 30px;
       }
     }
     &--small{
       font-size: 16px;
       @media only screen and (max-width: 768px){
         font-size: 14px;
       }
     }
     &--bold{
       font-weight: 500;
     }
     &--bolder{
       font-weight: 900;
     }
     &--underline{
       border-bottom: 2px solid currentColor;
       &:hover{
        text-decoration: none;
       }
     }
     &--prize-place{
       color: #e6a623;
       font-size: 18px;
     }
     &--prize-points{
       font-weight: 500;
       font-size: 55px;
       color: #fff;
     }
     &--prize-subheader{
       font-size: 26px;
       color: #fff;
     }
     &--step{
       font-size: 28px;
       @media only screen and (max-width: 480px){
         font-size: 22px;
         line-height: 30px;
       }
     }
     &--textbox{
       font-size: 20px;
       line-height: 26px;
       @media only screen and (max-width: 480px){
         font-size: 18px;
         line-height: 24px;
       }
     }
     &--statute{
       font-size: 14px;
       @media only screen and (max-width: 480px){
         line-height: 22px;
       }
     }
     &--contest-info{
       line-height: 26px;
       font-size: 22px;
       text-transform: uppercase;
       font-weight: 900;
     }
   }

  //buttons
  &__button{
     font-weight: 900;
     font-size: 16px;
     color: #002b41 !important;
     text-transform: uppercase;
     width: 100%;
     cursor: pointer;
     text-align: center;
     border: none;
     border-radius: 4px;
     text-decoration: none !important;
     padding: 12px 6px;
     box-shadow: 0 3px 0px 0px rgba(0,0,0,0.06), 0 2px 0px 0px rgba(0,0,0,.1);
     &--yellow{
       background-color: #e6a623;
     }
     &--blue{
       background-color: #002b41;
       color: #fff !important;
     }
     &--big{
       font-size: 22px;
       padding: 20px 10px;
       @media only screen and (max-width: 768px){
         font-size: 18px;
         padding: 18px 10px;
       }
       @media only screen and (max-width: 320px){
         font-size: 16px;
       }
     }
   }

   //hotel preview box
   &__hotel-preview-box{
     width: 100%;
     height: 100%;
     position: relative;
     overflow: hidden;
     cursor: pointer;
     @media only screen and (max-width: 1050px){
       display: flex;
     }
     img{
       width: 100%;
       object-fit: cover;
     }
     &:hover{
       @media only screen and (min-width: 991px) {
        .page-travel__hotel-preview-box-mask{
          opacity: 1;
        }
       }
     }
   }
   &__hotel-preview-box-mask{
     position: absolute;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     padding: 115px 20px 15px;
     background-color: rgba(0, 43, 65, .66);
     opacity: 0;
     transition: opacity .33s cubic-bezier(.25,.01,.55,1);
     @media only screen and (max-width: 380px){
       padding-top: 50px;
       padding: 50px 13px 15px;
     }
     .loupe{
       width: 58px;
     }
     .info-row{
       display: flex;
       flex-direction: row;
       align-items: center;
       width: 100%;
       max-width: 300px;
       @media only screen and (max-width: 380px){
         justify-content: center;
       }
       img{
         width: 11px;
       }
       .split{
         height: 15px;
         width: 1px;
         background: #fff;
         opacity: .3;
       }
       span{
         padding: 0px 15px;
         @media only screen and (max-width: 380px){
           padding: 0px 8px;
         }
       }
     }
   }
   &__hotel-preview-box-opened{
     pointer-events: none;
     opacity: 0;
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     padding: 20px;
     z-index: 4;
     transition: opacity .33s cubic-bezier(.25,.01,.55,1);
     display: flex;
     .bckg{
       position: absolute;
       z-index: 1;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0; 
     }
     .arrows-container{
       position: absolute;
       top: 0px;
       bottom: 0px;
       left: 0;
       margin-top: auto;
       margin-bottom: auto;
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       z-index: 3;
       height: max-content;
       height: 32px;
       @media only screen and (max-width: 992px){
         justify-content: space-between;
       }
       .gallery-arrow-right{
         cursor: pointer;
         width: 32px;
         padding-left: 600px;
         display: flex;
         justify-content: flex-start;
         height: 100%;
         @media only screen and (max-width: 992px){
           padding-left: 0px;
           width: 50%;
           display: flex;
           justify-content: flex-end;
           padding-right: 40px;
         }
         @media only screen and (max-width: 500px){
           padding-right: 20px;
         }
         img{
            width: 32px;
            margin-left: -32px;
            pointer-events: none;
            @media only screen and (max-width: 992px){
              margin-left: 0px;
            }
          }
       }
       .gallery-arrow-left{
         width: 32px;
         cursor: pointer;
         transform: rotate(180deg);
         padding-left: 600px;
         display: flex;
         justify-content: flex-start;
         height: 100%;
         @media only screen and (max-width: 992px){
           padding-left: 0px;
           width: 50%;
           display: flex;
           justify-content: flex-end;
           padding-right: 40px;
         }
         @media only screen and (max-width: 500px){
           padding-right: 20px;
         }
         img{
            width: 32px;
            margin-left: -32px;
            pointer-events: none;
            @media only screen and (max-width: 992px){
              margin-left: 0px;
            }
         }
       }
     }
     .box{
       position: absolute;
       z-index: 2;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
       margin:auto;
       width: 100%;
       max-width: 1280px;
       height: 60vh;
       display: flex;
       background-color: red;
       @media only screen and (max-width: 1024px){
         width: 95%;
       }
       &__close-btn{
         position: absolute;
         width: 31px;
         height: 31px;
         background-position: center center;
         background-repeat: no-repeat;
         background-size: cover;
         background-image: url("../img/icons/close-btn.png");
         cursor: pointer;
         top: 22px;
         right: 28px;
         @media only screen and (max-width: 380px){
           width: 24px;
           height: 24px;
           top: 18px;
           right: 18px;
         }
       }
       &__bottom-info{
         position: absolute;
         bottom: 0px;
         left: 0px;
         width: 100%;
         background-color: rgba(0, 43, 65, .66);
         display: flex;
         flex-direction: row;
         align-items: center;
         padding: 5px 16px;
         .pin{
           width: 11px;
         }
         .split{
           height: 15px;
           width: 1px;
           background: #fff;
           opacity: .3;
         }
         span{
           padding: 0px 15px;
           @media only screen and (max-width: 380px){
             padding: 0px 7px;
           }
         }
       }
       img{
         width: 100%;
         object-fit: cover;
       }
     }
     &.active{
       opacity: 1;
       pointer-events: all;
     }
   }

  //page sections
  &__contest-info{
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 90%;
    background-color: #e6a623;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 210px;
    height: 210px;
    text-align: center;
    cursor: pointer;
    z-index: 5;
    &:before{
      content: "";
      position: absolute;
      width: 200px;
      height: 200px;
      border: 1px solid #fff;
      border-radius: 90%;
      top: 5px;
      left: 5px;
    }
    @media only screen and (max-width: 500px){
      display: none;
    }
    span{
      margin: 22px 0px;
    }
    &:hover{
      text-decoration: none;
    }
  }

  &__hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__hero-top{
    width: 100%;
    background-color: #f6f7f9;
    background-image: url("../img/page-travel-bckg.jpg");
    background-position: center 70%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 215px 0 280px;
    @media only screen and (max-width: 1024px){
      padding: 165px 0 180px;
    }
    @media only screen and (max-width: 768px){
      background-size: 250%;
      background-position: center 40%;
    }
    @media only screen and (max-width: 460px){
      padding: 140px 0 150px;
      background-size: 400%;
    }
    @media only screen and (max-width: 380px){
      padding: 120px 0 130px;
    }
  }
  &__hero-top-wrapper{
    width: 100%;
    max-width: 1035px;
    padding: 0px 20px;
    text-align: center;
  }
  &__hero-bottom{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
  }
  &__hero-bottom-wrapper{
    width: 100%;
    max-width: 1035px;
    padding: 0px 20px;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: -90px;
  }
  &__hero-hotel-wrapper{
    width: 100%;
    max-width: 490px;
    height: 280px;
    margin-bottom: 15px;
    @media only screen and (max-width: 1050px){
      max-width: 100%;
    }
    @media only screen and (max-width: 380px){
      height: 200px;
    }
  }


  &__compete{
    display: flex;
    justify-content: center;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/travel-page-compete-bckg.png);
    padding: 60px 0px 440px;
    position: relative;
    @media only screen and (max-width: 1024px){
      padding-bottom: 360px;
    }
    @media only screen and (max-width: 500px){
      padding-bottom: 250px;
    }
    @media only screen and (max-width: 320px){
      padding-bottom: 200px;
    }
  }
  &__compete-content-wrapper{
    width: 100%;
    max-width: 993px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__compete-logo{
    margin-bottom: 38px;
    @media only screen and (max-width: 768px){
      margin-bottom: 25px;
    }
  }
  &__compete-small-heading-wrapper{
    margin-top: 45px;
    width: 100%;
    max-width: 775px;
    @media only screen and (max-width: 768px){
      margin-top: 25px;
    }
  }
  &__compete-bottom{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 0px 20px 45px;
    background-color: rgba(0, 43, 65, .2);
    display: flex;
    justify-content: center;
  }
  &__compete-btn-wrapper{
    width: 100%;
    max-width: 600px;
    display: flex;
    a{
      margin-top: -33px;
    }
  }


  &__gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 85px 0px;
  }
  &__gallery-wrapper{
    width: 100%;
    max-width: 1035px;
    padding: 0px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }


  &__signUp{
    width: 100%;
    padding: 80px 0px;
    background-color: #002b41;
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 480px){
      padding: 50px 0px;
    }
  }
  &__signUp-wrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__signUp-head{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 991px){
      padding: 0px 20px;
    }
  }
  &__signUp-subhead{
    margin-top: 35px;
    text-align: center;
    width: 100%;
    max-width: 800px;
    @media only screen and (max-width: 480px){
      margin-top: 20px;
    }
  }
  &__prizes-wrapper{
    width: 100%;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 85px;
    padding: 0px 10px;
    @media only screen and (max-width: 991px){
      justify-content: space-around;
    }
    @media only screen and (max-width: 480px){
      margin-top: 60px;
    }
  }
  &__prize-box-wrapper{
    padding: 0px 20px;
    width: 100%;
    max-width: 256px;
    @media only screen and (max-width: 991px){
      margin: 0px 10px 50px;
    }
  }
  &__prize-box{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/prize-bckg.png);
    padding: 26px 0px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__prize-box-place{
    h2{
      margin-bottom: 0px;
    }
  }
  &__prize-box-prize{
    background-color: #002b41;
    padding: 20px 0px;
    width: 110%;
    text-align: center;
    h1, h3{
      margin-bottom: 0px;
    }
    h1{
      position: relative;
      margin-top: 0px;
      &:before{
        content: "•";
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        color: #fff;
        font-size: 28px;
      }
      &:after{
        content: "•";
        position: absolute;
        right: -10px;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        color: #fff;
        font-size: 28px;
      }
    }
    h3{
      margin-top: 4px;
    }
  }
  &__signUp-subheader{
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 55px;
    @media only screen and (max-width: 991px){
      margin-top: 25px;
      padding: 0px 20px;
    }
    a{
      &:hover{
        color: #fff;
      }
    }
  }
  &__signUp-split-border{
    width: 100%;
    height: 1px;
    background-color: #1a4054;
  }
  &__signUp-how-to-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 55px;
    @media only screen and (max-width: 480px){
      padding: 0px 10px;
    }
  }
  &__signUp-steps-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 45px;
    @media only screen and (max-width: 768px){
      padding: 0px 40px;
    }
    @media only screen and (max-width: 480px){
      margin-top: 70px;
    }
  }
  &__signUp-step{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 700px;
    margin-bottom: 25px;
    @media only screen and (max-width: 480px){
      flex-direction: column;
      margin-bottom: 65px;
    }
  }
  &__signUp-step-icon-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 480px){
      align-items: flex-start;
    }
  }
  &__signUp-step-icon{
    display: flex;
    width: 95px;
  }
  &__signUp-step-number-wrapper{
    position: absolute;
    top: -31px;
    left: -31px;
    border-radius: 90px;
    width: 53px;
    height: 53px;
    border: 1px solid #c19228;
    padding: 3px;
  }
  &__signUp-step-number{
    background-color: #fff;
    border-radius: 90px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__signUp-step-icon-dots{
    .dot{
      width: 6px;
      height: 6px;
      background-color: #4d6b7a;
      border-radius: 10px;
      margin-top: 18px;
    }
    @media only screen and (max-width: 480px){
      display: none;
    }
  }
  &__signUp-step-content{
    padding-top: 10px;
    padding-left: 20px;
    @media only screen and (max-width: 768px){
      text-align: left;
    }
    @media only screen and (max-width: 480px){
      padding-left: 0px;
      padding-top: 15px;
    }
  }
  &__signUp-date{
    margin-top: 50px;
    @media only screen and (max-width: 480px){
      margin: 0px;
    }
  }
  &__signUp-form-wrapper{
    margin-top: 20px;
    padding: 0px 10px;
    width: 100%;
    max-width: 800px;
    form{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__signUp-form-box-border{
    border: 2px solid #2d5063;
  }
  &__signUp-form-image{
    width: 100%;
    max-width: 780px;
    height: 380px;
    position: relative;
    overflow: hidden;
    @media only screen and (max-width: 480px){
      height: 300px;
    }
    .icon{
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      @media only screen and (max-width: 480px){
        bottom: 70px;
      }
    }
    .pre-image{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      top: 0px;
      left: 0px;
      object-fit: cover;
    }
  }
  &__signUp-form-image-button{
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 27px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 490px;
    padding: 0px 20px;
    display: flex;
    cursor: pointer;
    input[type="file"]{
      cursor: pointer;
      position: absolute;
      opacity: 0;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
    }
    a{
      cursor: pointer;
    }
  }
  &__signUp-form-msg-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    text-align: left;
  }
  &__signUp-form-msg-header{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
  }
  &__signUp-form-text-box{
    width: 100%;
    height: 250px;
    background-color: transparent;
    margin-top: 15px;
    outline: none;
    resize: none;
    padding: 20px;
    &::-webkit-input-placeholder{
      color: #fff;
    }
  }
  &__signUp-form-send-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
    max-width: 450px;
    @media only screen and (max-width: 480px){
      margin-top: 20px;
    }
  }
  &__signUp-form-checkbox-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-bottom: 16px;
    input[type="checkbox"]{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      &:checked ~ .page-travel__signUp-form-custom-checkbox img{
        opacity: 1;
        transform: scale(1);
      }
    }
    span{
      padding-left: 16px;
      @media only screen and (max-width: 480px){
        width: 80%;
      }
    }
  }
  &__signUp-form-custom-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border: 4px solid #335567;
    img{
      opacity: 0;
      transform: scale(1.33);
      transition: all .25s cubic-bezier(.25,.01,.55,1);
      pointer-events: none;
    }
  }


  &__photos{
    background-color: #fff;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 70px;
    position: relative;
    @media only screen and (max-width: 480px){
      padding-top: 40px;
    }
  }
  &__photos-wrapper{
    width: 100%;
    max-width: 1024px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__photos-header{
    width: 100%;
    max-width: 710px;
    text-align: center;
  }
  &__photos-gallery{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 50px;
  }
  &__photos-photo-box{
    width: 32.75%;
    height: 185px;
    margin-bottom: 9px;
    position: relative;
    img{
      width: 100%;
      object-fit: cover;
    }
    @media only screen and (max-width: 768px){
      height: 140px;
      width: 49.5%;
    }
    @media only screen and (max-width: 420px){
      width: 100%;
    }
  }
  &__photos-photo-box-prev{
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    &:hover{
      .page-travel__photos-photo-box-mask{
        opacity: 1;
      }
    }
  }
  &__photos-photo-box-opened{
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    padding: 20px;
    transition: all .25s cubic-bezier(.25,.01,.55,1);
    &.active{
      opacity: 1;
      pointer-events: all;
    }
    &-bckg{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    &-img-wrapper{
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 95%;
      max-width: 985px;
      height: 60vh;
      display: flex;
      img{
        width: 100%;
        object-fit: cover;
      }
    }
  }
  &__photos-photo-box-mask{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,43,65,.66);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .25s cubic-bezier(.25,.01,.55,1);
    img{
      width: 58px;
    }
  }
  &__photos-photo-box-opened-close{
    position: absolute;
    width: 31px;
    height: 31px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/icons/close-btn.png);
    cursor: pointer;
    top: 22px;
    right: 28px;
    @media only screen and (max-width: 380px){
      width: 24px;
      height: 24px;
      top: 18px;
      right: 18px;
    }
  }
  &__photos-button-wrapper{
    width: 100%;
    max-width: 450px;
    margin-top: 30px;
    margin-bottom: -24px;
    display: flex;
  }
}
