.page-events{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &__heading{
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: #002b41;
        &--thin{
          font-weight: 300;
        }
        &--bold{
          font-weight: 500;
        }
        &--bolder{
          font-weight: 900;
        }
        &--white{
          color: #fff;
        }
        &--upper{
          text-transform: uppercase;
        }
        &--mid{
            font-size: 20px;
            line-height: 24px;
        }
    }
    &__arrow{
        position: absolute;
        bottom: 30px;
        left: 0px;
        width: 100%;
        display: flex;
        z-index: 6;
        justify-content: center;
        &-wrapper{
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
          margin: 0px 45px;
          &:hover{
            text-decoration: none;
          }
          span{
            margin-top: 7px;
          }
          &--left{
            img{
                transform: rotate(180deg);
            }
        }
        }
    }
    &__top{
        width: 100%;
        text-align: center;
        padding: 160px 20px 60px;
        background-color: #fff;
    }
    &__videos{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        position: relative;
        &-video{
            width: 50%;
            height: 400px;
            position: relative;
            overflow: hidden;
            &-content{
                width: 100%;
                height: 100%;
                transition: all .33s cubic-bezier(.25,.01,.55,1);
                position: relative;
                z-index: 3;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                padding-bottom: 50px;
                cursor: pointer;
                &:hover{
                    background-color: rgba(0, 43, 65, .8);
                    padding-bottom: 18.5vh;
                }
            }
            &-webm{
                width: 100%;
                object-fit: cover;
                position: absolute;
                z-index: 1;
                top: 0px;
                left: 0px;
                bottom: 0px;
                right: 0px;
                margin: auto;
            }
            &-thumb{
                width: 100%;
                object-fit: cover;
                position: absolute;
                z-index: 2;
            }
        }
        &-button{
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            margin: auto;
            width: 260px;
            height: 260px;
            background-color: #e6a623;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 90%;
            z-index: 4;
            text-align: center;
            padding: 0px 31px;
            cursor: pointer;
            &:hover{
                text-decoration: none;
            }
            &:before{
                content:"";
                position: absolute;
                width: 254px;
                height: 254px;
                border: 1px solid #fff;
                top: 3px;
                left: 3px;
                border-radius: 90%;
            }
            span{
                margin: 20px 0px;
                width: 100%;
            }
        }
    }
}