.footer{
  padding: 70px 0px;
  background-color: #f6f7f9;
  width: 100%;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 768px){
    padding-bottom: 30px;
  }
  &--extra-padding{
    padding-top: 110px;
  }
  &__wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    width: 100%;
    @media only screen and (max-width: 768px){
      flex-direction: column;
    }
  }
  &__ox-logo{
    position: absolute;
    right: 62px;
    bottom: 15px;
    @media only screen and (max-width: 768px){
      position: static;
      padding-top: 50px;
    }
  }
}
