.logo{
  position: fixed;
  z-index: 99;
  width: fit-content;
  left: 50%;
  margin-left: -140px;
  @media only screen and (max-width: 991px){
    z-index: 14;
  }
  @media only screen and (max-width: 1150px){
    margin-left: -110px;
  }
  @media only screen and (max-width: 380px){
    margin-left: -95px;
  }
  img{
    width: 280px;
    height: 105px;
    box-shadow: 0 8px 38px rgba(0,0,0,.3), 0 0px 12px rgba(0,0,0,.22);
    @media only screen and (max-width: 1150px){
      width: 220px;
      height: 88px;
    }
    @media only screen and (max-width: 380px){
      width: 190px;
      height: 70px;
    } 
  }
}
.navbar{
  z-index: 98;
  overflow: hidden;
  width: 100%;
  padding-left: 6vw;
  padding-right: 6vw;
  background-color: #fff;
  transition: all .33s cubic-bezier(.25,.01,.55,1);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  @media only screen and (max-width: 1366px){
    padding-left: 2vw;
    padding-right: 2vw;
  }
  @media only screen and (max-width: 991px){
    z-index: 13;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    padding-left: 5vw;
    padding-right: 5vw;
    box-shadow: none;
    background-color: #e6a623;
  }
  &-fixed-top{
    position: fixed;
  }
  .navbar-brand{
    margin-right: 15px;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 991px){
      display: none;
    }
  }
  .navbar-toggler{
    border: none;
    outline: none;
    @media only screen and (max-width: 991px){
      padding: 6px 0 6px 5px;;
    }
  }
  .navbar-collapse{
    @media only screen and (max-width: 991px) {
      padding-top: 20px;
    }
    @media only screen and (max-width: 991px) {
      padding-top: 20px;
    }
    .list-wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      .menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 40%;
        @media only screen and (max-width: 992px) {
          width: 100%;
        }
      }
    }
    .menu{
      list-style: none;
      display:flex;
      flex-direction: row;
      margin: 0px;
      padding-left: 0px;
      &--padding{
        &-left{
          @media only screen and (max-width: 1500px) {
            padding-left: 30px;
          }
          @media only screen and (max-width: 992px) {
            padding-left: 0px;
          }
        }
      }
      @media only screen and (max-width: 991px){
        flex-direction: column;
      }
      .menu-item{
        display:flex;
        a{
          padding: 19px 15px;
          font-weight: 500;
          font-size: 16px;
          color: #002b41;
          text-transform: uppercase;
          @media only screen and (max-width: 1366px){
            padding: 19px 6px;
            font-size: 15px;
          }
          @media only screen and (max-width: 1150px){
            padding: 19px 5px;
            font-size: 14px;
          } 
          @media only screen and (max-width: 991px){
            padding-left: 5px;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 16px;
          }
          &:hover{
            text-decoration: none;
          }
        }
        &.current_page_item{
          a{
            color: #e6a623;
          }
        }
      }
    }
  }
  &__social{
    display: flex;
    flex-direction: row;
    a{
      padding-left: 15px;
      display: flex;
    }
    .mobile{
      display: none;
    }
    @media only screen and (max-width: 991px){
      justify-content: center;
      align-items: center;
      padding: 20px 0px 10px;
      a{
        padding: 0px 13px;
      }
      .mobile{
        display: block;
      }
    }
  }
  &__inset-shadow{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background: transparent;
    pointer-events: none;
    cursor: default;
    box-shadow: 0 0px 16px 1px rgba(0,0,0,.15);
    @media only screen and (max-width: 991px){
      display: none;
    }
  }
  &__mobile-collapsed{
    background-color: #fff;
    z-index: 15;
  }
}
