.page-gallery{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__header{
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #002b41;
    @media only screen and (max-width: 768px){
       font-size: 25px;
     }
     @media only screen and (max-width: 480px){
       font-size: 23px;
       line-height: 35px;
     }
     @media only screen and (max-width: 380px){
       font-size: 20px;
       line-height: 32px;
     }
     &--white{
       color: #fff;
     }
     &--big{
       font-size: 36px;
       @media only screen and (max-width: 768px){
         font-size: 30px;
       }
     }
     &--medium{
       font-size: 24px;
     }
     &--bold{
       font-weight: 500;
     }
     &--bolder{
       font-weight: 900;
     }
     &--gallery-box{
       font-size: 12px;
     }
     &--single-photo{
       font-size: 16px;
       line-height: 20px;
     }

  }
  &__button{
    font-weight: 900;
    font-size: 16px;
    color: #002b41 !important;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 4px;
    text-decoration: none !important;
    padding: 14px 6px 12px;
    box-shadow: 0 3px 0px 0px rgba(0,0,0,0.06), 0 2px 0px 0px rgba(0,0,0,.1);
    &--yellow{
      background-color: #e6a623;
    }
  }

  &__top{
    background-color: #f6f7f9;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 200px 0px;
    @media only screen and (max-width: 768px){
      padding: 170px 0px;
    }
    @media only screen and (max-width: 450px){
      padding: 150px 0px;
    }
    @media only screen and (max-width: 380px){
      padding: 135px 0px;
    }
  }
  &__top-wrapper{
    width: 100%;
    max-width: 1320px;
    display: flex;
    justify-content: center;
    padding: 0px 20px;
    text-align: center;
  }

  &__gallery{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0px 10px;
    &--negative-top{
      padding-top: 0px;
      margin-top: -88px;
    }
    &-heading{
      margin-bottom: 75px;
      text-align: center;
    }
  }
  &__gallery-wrapper{
    width: 100%;
    max-width: 1064px;
    padding: 0px 20px;
    display: flex;
    flex-flow: row wrap;
    @media only screen and (max-width: 810px){
      justify-content: space-between;
    }
  }
  &__gallery-image{
    width: 24%;
    height: 250px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    @media only screen and (max-width: 1060px){
      width: 32%;
    }
    @media only screen and (max-width: 810px){
      width: 49.25%;
      margin-right: 0px;
    }
    @media only screen and (max-width: 550px){
      width: 100%;
    }
    &-box{
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      display: flex;
      img{
        width: 100%;
        object-fit: cover;
      }
    }
    &-like{
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;
      right: 18px;
      bottom: 7px;
      img{
        margin-right: 9px;
      }
    }
    &-mask{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: rgba(18, 25, 38, .8);
      padding: 98px 22px 6px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      transition: opacity .33s cubic-bezier(.25,.01,.55,1);
      opacity: 0;
      &-bottom{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        span{
          margin-left: 13px;
        }
      }
    }
    &:hover{
      .page-gallery__gallery-image-mask{
        opacity: 1;
      }
    }
  }

  &__pagination{
    margin-top: 40px;
    a{
      padding: 0px 5px;
      color: #002b41;
    }
    .current{
      font-weight: 600;
      color: #e6a623;
    }
  }

  &__bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin-top: 70px;
    @media only screen and (max-width: 768px){
      margin-top: 30px;
    }
    span{
      width: 100%;;
    }
  }
  &__bottom-button{
    width: 100%;
    max-width: 445px;
    display: flex;
    margin-top: 40px;
    margin-bottom: 70px;
  }

  &__single-photo{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f6f7f9;
    padding: 200px 0px 25px;
  }
  &__single-photo-wrapper{
    width: 100%;
    max-width: 1020px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
  }
  &__single-photo-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    &-image{
      width: 100%;
      height: 595px;
      display: flex;
      @media only screen and (max-width: 768px){
        height: 380px;
      }
      @media only screen and (max-width: 500px){
        height: 250px;
      }
      @media only screen and (max-width: 320px){
        height: 200px;
      }
      &-img{
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    &-arrows{
      position: absolute;
      width: 100%;
      top: 0px;
      bottom: 0px;
      margin-top: auto;
      margin-bottom: auto;
      display: flex;
      justify-content: space-between;
      height: 40px;
      padding: 0px 40px;
      &-arrow{
        cursor: pointer;
        height: 33px;
        width: auto;
        &-left{
          transform: rotate(180deg);
        }
      }
    }
    &-bottom{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 13px 64px 14px 24px;
      background-color: #002b41;
      @media only screen and (max-width: 991px){
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
      }
      &-left, &-right{
        display: flex;
        flex-direction: row;
        align-items: center;
        span{
          margin-top: 2px;
        }
      }
      &-left{
        @media only screen and (max-width: 991px){
          flex-direction: column;
          align-items: flex-start;
        }
      }
      &-icon{
        margin-right: 16px;
        @media only screen and (max-width: 991px){
          width: 14px;
        }
      }
      &-split{
        width: 1px;
        height: 15px;
        margin: 0px 20px;
        background-color: #fff;
        opacity: .3;
        @media only screen and (max-width: 991px){
          display: none;
        }
      }
    }
  }
  &__single-photo-share{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 18px;
    padding: 0px 22px 0px 50px;
    @media only screen and (max-width: 768px){
      padding: 0px 20px;
      flex-flow: row wrap;
      span{
        margin-bottom: 10px;
      }
    }
    &-button{
      display: flex;
      width: 100%;
      max-width: 190px;
    }
  }
  &__single-photo-content{
    width: 75%;
    padding-right: 20px;
    @media only screen and (max-width: 768px) {
      width: 100%;
      padding-right: 0px;
    }
    .vortex-align-right{
      text-align: left;
    }
    .vortex-container-vote{
      display: none;
    }
  }
}
