.page-movie{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &__heading{
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: #002b41;
        &--thin{
          font-weight: 300;
        }
        &--bold{
          font-weight: 500;
        }
        &--bolder{
          font-weight: 900;
        }
        &--white{
          color: #fff;
        }
        &--upper{
          text-transform: uppercase;
        }
        &--mid{
            font-size: 20px;
            line-height: 24px;
        }
    }
    &__button{
        font-weight: 900;
        font-size: 16px;
        color: #002b41 !important;
        text-transform: uppercase;
        width: 100%;
        cursor: pointer;
        text-align: center;
        border: none;
        border-radius: 4px;
        text-decoration: none !important;
        padding: 20px 6px;
        box-shadow: 0 3px 0px 0px rgba(0,0,0,0.06), 0 2px 0px 0px rgba(0,0,0,.1);
        &--yellow{
          background-color: #e6a623;
        }
    }
    &__arrow{
        position: absolute;
        bottom: 30px;
        left: 0px;
        width: 100%;
        display: flex;
        z-index: 6;
        justify-content: center;
        &-wrapper{
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
          margin: 0px 45px;
          &:hover{
            text-decoration: none;
          }
          span{
            margin-top: 7px;
          }
          &--left{
              img{
                  transform: rotate(180deg);
              }
          }
        }
    }
    &__movie{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
        video{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__wrapper{
        width: 100%;
        max-width: 993px;
        display: flex; 
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 2;
        &-top{
            width: 100%;
            padding: 30px 20px 165px 20px;
            background-color: rgba(18, 25, 38, .8);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            animation-name: slideIn;
            animation-duration: .9s;
            opacity: 0;
            animation-delay: 0.2s;
            animation-fill-mode: forwards;
            img{
                margin-bottom: 36px;
            }
            span{
                width: 100%;
                max-width: 700px;
            }
            a{
                color: #e6a623;
                text-decoration: none;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        &-bottom{
            width: 100%;
            max-width: 450px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -110px;
            a{
                margin-bottom: 11px;
                animation-name: slideIn;
                animation-duration: .9s;
                animation-delay: 0.5s;
                opacity: 0;
                animation-fill-mode: forwards;
                &:last-of-type{
                    animation-delay: 1s;
                }
            }
        }
    }
    @keyframes slideIn {
        from {opacity: 0;}
        to {opacity: 1;}
    }
}