.page-hotelRoom{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;    
    &__heading{
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: #002b41;
        &--arrow{
          font-size: 17px;
        }
        &--bolder{
          font-weight: 900;
        }
        &--white{
          color: #fff;
        }
        &--upper{
          text-transform: uppercase;
        }
        &--copy-text{
          font-size: 16px;
          line-height: 26px;
        }
        &--copy-header{
          font-size: 19px;
          font-weight: 500;
          line-height: 30px;
        }
    }
    &__arrow{
        position: absolute;
        bottom: 30px;
        left: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        &-wrapper{
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
          margin: 0px 45px;
          &:hover{
            text-decoration: none;
          }
          &--left{
            img{
                transform: rotate(180deg);
            }
          }
          img{
            width: 55px;
          }
        }
     }
    &__background{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/hotel-room-bckg.gif);
    }
    &__video-bckg{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      transition: all .33s cubic-bezier(.25,.01,.55,1);
      video{
        object-fit: cover;
        position: absolute;
        bottom: -50px;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto; 
        width: 100%;
      }
      &--start{
        z-index: 0;
      }
      &--animation{
        opacity: 0;
      }
    }
    &__content{
      position: relative;
      z-index: 2;
    }
    &__box{
        position: absolute;
        cursor: pointer;
        &:hover{
          .page-hotelRoom__box-copy{
            opacity: 1!important;
            display: block;
          } 
        } 
        &-copy{
          left: 0px;
          right: 0px;
          position: absolute;
          z-index: 2;
          margin-left: auto;
          margin-right: auto;
          background-color: #002b41;
          padding: 22px 20px;
          width: 260px;
          text-align: center;
          pointer-events: none;
          display: flex;
          flex-direction: column;
          opacity: 0;
          transition: opacity .33s cubic-bezier(.25,.01,.55,1);
          &-icon{
            position: absolute;
            position: absolute;
            top: -14px;
            left: 0px;
            right: 0px;
            margin-left: auto;
            margin-right: auto;
            img{
              width: 35px;
              height: 16px;
            }
          }
        }
        &--gift{
          top: 55vh;
          left: 51.3vw;
          width: 170px;
          height: 100px;
          @media only screen and (max-width: 1280px) {
            top: 60vh;
            left: 50.5vw;
            width: 140px;
            height: 80px; 
          }
          @media only screen and (max-width: 1080px) {
            right: 34vw;
            top: 65vh;
            height: 60px;
          }
          .page-hotelRoom__box-copy{
            left: -50px;
            top: -260px;
            @media only screen and (max-width: 1366px) {
              left: -150px;
              top: -200px;
              width: 450px;
            }
          }
        }
        &--standards{
            top: 21vh;
            left: 27.2vw;
            width: 215px;
            height: 455px;
            @media only screen and (max-width: 1280px) {
              top: 30vh;
              left: 26vw;
              width: 180px;
              height: 310px;
            }
            @media only screen and (max-width: 1080px) {
                left: 25.5vw;
            }
            .page-hotelRoom__box-copy{
              right: -550px;
              top: 100px;
              @media only screen and (max-width: 1280px) {
                  right: -450px;
              }
            }
        }
        &--wifi{
            top: 42.5vh;
            left: 51vw;
            width: 110px;
            height: 133px;
            @media only screen and (max-width: 1280px) {
                width: 90px;
                height: 80px;
                top: 53vh;
                right: 41vw;
            }
            @media only screen and (max-width: 1080px) {
                right: 39vw;
            }
            .page-hotelRoom__box-copy{
              left: -90px;
              top: -200px;
              @media only screen and (max-width: 1366px) {
                left: -135px;
                width: 360px;
                top: -140px;
              }
              @media only screen and (max-width: 1200px) {
                top: -180px;
              }
            }
        }
        &--checkin{
            top: 29.2vh;
            left: 61vw;
            width: 110px;
            height: 100px;
            @media only screen and (max-width: 1280px) {
                top: 39vh;
                right: 29.5vw;
                width: 70px;
                height: 80px;
            }
            @media only screen and (max-width: 1080px) {
                top: 43.3vh;
                right: 25vw;
            }
            .page-hotelRoom__box-copy{
              left: -400px;
              top: 30px;
              @media only screen and (max-width: 1280px) {
                  left: -380px;
                  top: 15px;
              }
              @media only screen and (max-width: 1080px) {
                  top: 0px;
                  left: -390px;
              }
            }
        }
        &--executiveLounge{
            bottom: 0vh;
            left: 8.333vw;
            width: 410px;
            height: 400px;
            @media only screen and (max-width: 1280px) {
              left: 9vw;
              width: 260px;
              height: 250px;
            }
            .page-hotelRoom__box-copy{
              left: 0px;
              top: -270px;
              @media only screen and (max-width: 1366px) {
                top: -140px;
              }
            }
        }
        &--lacollection{
            bottom: 25.5vh;
            left: 77vw;
            width: 222px;
            height: 180px;
            @media only screen and (max-width: 1280px) {
                right: 0vw;
                bottom: 19vh;
                width: 180px;
                height: 150px;
            }
            @media only screen and (max-width: 1080px) {
              bottom: 15vh;
              width: 133px;
            }
            .page-hotelRoom__box-copy{
              left: -370px;
              top: 70px;
              @media only screen and (max-width: 1280px) {
                left: -400px;
                top: 30px;
              }
              @media only screen and (max-width: 1080px) {
                  left: -360px;
              }
            }
        }
    
        &--visible{
          opacity: 1;
        }
        &--arrow-right{
          &:after{
            content: "";
            position: absolute;
            height: 24px;
            width: 12px;
            right: -12px;
            top: 15px;
            background-image: url(../img/icons/copy-arrow-right.png);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
          }
        }
        &--arrow-left{
            &:after{
              content: "";
              position: absolute;
              height: 24px;
              width: 12px;
              left: -11px;
              top: 15px;
              background-image: url(../img/icons/copy-arrow-left.png);
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
            }
          }
        &--arrow-bottom{
          &:after{
            content: "";
            position: absolute;
            width: 24px;
            height: 12px;
            right: 0px;
            left: 0px;
            bottom: -11px;
            margin-left: auto;
            margin-right: auto;
            background-image: url(../img/icons/copy-arrow-bottom.png);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
          }
        }
      }
}