.page-lobby{
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  &__heading{
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #002b41;
    &--arrow{
      font-size: 17px;
    }
    &--bolder{
      font-weight: 900;
    }
    &--white{
      color: #fff;
    }
    &--upper{
      text-transform: uppercase;
    }
    &--copy-text{
      font-size: 16px;
      line-height: 26px;
    }
    &--copy-header{
      font-size: 19px;
      font-weight: 500;
      line-height: 30px;
    }
  }

  &__background{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/lobby.gif);
  }
  &__video-bckg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: all .33s cubic-bezier(.25,.01,.55,1);
    video{
      object-fit: cover;
      position: absolute;
      bottom: -50px;
      left: 0px;
      right: 0px;
      margin-left: auto;
      margin-right: auto; 
      width: 100%;
    }
    &--start{
      z-index: 0;
    }
    &--animation{
      opacity: 0;
    }
  }

  &__arrow{
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    &-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      margin: 0px 45px;
      &:hover{
        text-decoration: none;
      }
      &--left{
        img{
            transform: scaleX(-1);
        }
      } 
      img{
        width: 55px;
      }
    }
  }

  &__box{
    position: absolute;
    cursor: pointer;
    &:hover{
      .page-lobby__box-copy{
        opacity: 1;
      }
    }
    &-copy{
      left: 0px;
      right: 0px;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      background-color: #002b41;
      padding: 22px 20px;
      width: 260px;
      text-align: center;
      pointer-events: none;
      display: flex;
      opacity: 0;
      transition: opacity .33s cubic-bezier(.25,.01,.55,1);
      &-icon{
        position: absolute;
        position: absolute;
        top: -14px;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        img{
          width: 35px;
          height: 16px;
        }
      }
    }
    &--card{
      top: 42vh;
      left: 40vw;
      width: 125px;
      height: 85px;
      @media only screen and (max-width: 1280px) {
        top: 40vh;
        left: 38vw;
      }
      .page-lobby__box-copy{
        left: -400px;
      }
    }
    &--terminal{
      top: 56vh;
      right: 37.5vw;
      width: 260px;
      height: 110px;
      @media only screen and (max-width: 1280px){
        top: 59vh;
        width: 190px;
        height: 80px;
      }
      .page-lobby__box-copy{
        top: -175px;
        @media only screen and (max-width: 1280px){
          top: -190px;
          left: -40px;
        }
      }
    }
    &--drink{
      top: 43vh;
      right: 31.5vw;
      width: 155px;
      height: 250px;
      @media only screen and (max-width: 1280px){
        width: 105px;
        height: 190px;
        top: 42vh;
        right: 31vw;
      }
      .page-lobby__box-copy{
        top: -130px;
        left: -50px;
        @media only screen and (max-width: 1280px){
          left: -70px;
        }
      }
    }
    &--keys{
      bottom: 33vh;
      right: 17.5vw;
      width: 110px;
      height: 70px;
      @media only screen and (max-width: 1280px){
        right: 18vw;
        bottom: 31.5vh;
        width: 70px;
        height: 40px;
      }
      .page-lobby__box-copy{
        top: -200px;
        left: -75px;
      }
    }

    &--visible{
      opacity: 1;
    }
    &--arrow-right{
      &:after{
        content: "";
        position: absolute;
        height: 24px;
        width: 12px;
        right: -12px;
        top: 15px;
        background-image: url(../img/icons/copy-arrow-right.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    &--arrow-bottom{
      &:after{
        content: "";
        position: absolute;
        width: 24px;
        height: 12px;
        right: 0px;
        left: 0px;
        bottom: -11px;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../img/icons/copy-arrow-bottom.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}
